# ESPN Fantasy League Credentials
# Find these by logging into ESPN, opening DevTools (F12), going to Application > Cookies
ESPN_LEAGUE_ID=your_league_id_here
ESPN_S2=your_espn_s2_cookie_here
ESPN_SWID=your_swid_cookie_here
ESPN_YEAR=2026

# Google Sheets Credentials
# Path to your downloaded service account JSON file
GOOGLE_CREDENTIALS_PATH=./config/google-credentials.json
GOOGLE_SHEET_NAME=ESPN Fantasy Basketball Analytics
GOOGLE_USER_EMAIL=user@gmail.com
